# Framework Web
fastapi==0.104.1
uvicorn[standard]==0.24.0
gunicorn==21.2.0

# ORM y Base de datos
alembic==1.12.1
PyMySQL==1.0.2
pymysql[rsa]==1.1.0
sqlalchemy==2.0.23

# Utilidades de validación y configuración
email-validator>=2.0.0
pydantic[email]==2.5.1
pydantic-settings==2.1.0
python-dotenv==1.0.0

# Autenticación y seguridad
cryptography==41.0.5
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
python-multipart==0.0.6

# Para desarrollo y testing
httpx==0.25.1
pytest==7.4.3
redis==5.0.1
